* {
    margin: 0;
    padding: 0;
}

body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #eee;
}

#container {
    margin: 100px auto;
    width: 688px;
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
}

#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard .enter {
    width: 40px;
}

#keyboard .enter2 {
    width: 30px;
}

#keyboard .capslock,
#keyboard .tab,
#keyboard .left-shift {
    clear: left;
}

#keyboard .tab,
#keyboard .delete {
    width: 70px;
}

#keyboard .capslock {
    width: 80px;
}

#keyboard .return {
    width: 77px;
}

#keyboard .left-shift {
    width: 95px;
}

#keyboard .right-shift {
    width: 109px;
}

.lastitem {
    margin-right: 0;
}

#keyboard .space {
    width: 399px;
}

.on {
    display: none;
}

#keyboard li:hover {
    border-color: #e5e5e5;
    cursor: pointer;
}

@keyframes pressed {
    from {
        background-color: #777777;
    }
    to {
        background-color: ffffff;
    }
}

#keyboard li.pressed {
    animation-name: pressed;
    animation-duration: 0.2s;
}